<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
		<title><%= siteTitle %></title>
		<link><%= siteURL %></link>
		<description><%= siteDescription %></description>
		<language><%= rssSiteLanguage %></language>
		<copyright><%= rssCopyright %></copyright>
		<pubDate><%= posts[0].date.toUTCString() %></pubDate>
		<lastBuildDate><%= posts[0].date.toUTCString() %></lastBuildDate>
		<docs>https://www.rssboard.org/rss-specification</docs>
		<% posts.forEach(post => { %>
			<item>
				<title><%= post[1].data.title %></title>
				<link><%= siteURL + post[0].replace(/\.[^/.]+$/, "") %></link>
				<% if (post[1].data.description) { %>
				<description><%= post[1].data.description %></description>
				<% } %>
				<% if (post[1].data.tags) { %>
				<% post[1].data.tags.forEach(tag => { %>
				<category domain="<%= siteURL + "tags/" + tag %>"><%= tag %></category>
				<% }) %>
				<% } %>
				<pubDate><%= post.date.toUTCString() %></pubDate>
			</item>
		<% }) %>
	</channel>
</rss>