<%- include('../../components/head') %>
<div id="layout">
	<%#
	<!-- Menu -->
	%> <%- include('../../components/menu') %> <%#
	<!-- Main container -->
	%>
	<div id="main">
		<%# Page header %>
		<div class="header">
			<h1><%= titles.title %></h1>
			<h2><%= titles.subTitle %></h2>
		</div>

		<%# Page content %>
		<div class="content">
			<style>
				a {
					text-decoration: none;
					line-height: initial;
				}
				.cards-list {
					z-index: 0;
					width: 100%;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;
				}

				.card {
					margin: 30px auto;
					width: 300px;
					height: 300px;
					border-radius: 40px;
					box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
					cursor: pointer;
					transition: 0.4s;
				}

				.card .card_image {
					width: inherit;
					height: inherit;
					border-radius: 40px;
				}

				.card .card_image img {
					width: inherit;
					height: inherit;
					border-radius: 40px;
					object-fit: cover;
				}

				.card .card_title {
					text-align: center;
					border-radius: 0px 0px 40px 40px;
					font-family: sans-serif;
					font-weight: bold;
					font-size: 30px;
					margin-top: -80px;
					height: 40px;
				}

				.card:hover {
					transform: scale(0.9, 0.9);
					box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
				}

				.title-white {
					color: white;
				}

				.title-black {
					color: black;
				}

				@media all and (max-width: 500px) {
					.card-list {
						/* On small screens, we are no longer using row direction but column */
						flex-direction: column;
					}
				}

				.center {
					text-align: center;
				}
			</style>

			<h2 class="center">Choose the route you wish to visit !</h2>

			<div class="cards-list">
				<a href="/admin-create">
					<div class="card">
						<div class="card_image">
							<img src="/images/admin/create.svg" />
						</div>
						<div class="card_title title-black">
							<p>Create</p>
						</div>
					</div>
				</a>

				<a href="/admin-config">
					<div class="card">
						<div class="card_image">
							<img src="/images/admin/settings.svg" />
						</div>
						<div class="card_title title-black">
							<p>Settings</p>
						</div>
					</div>
				</a>

				<a href="/admin-pages">
					<div class="card">
						<div class="card_image">
							<img src="/images/admin/pages.svg" />
						</div>
						<div class="card_title title-black">
							<p>Pages</p>
						</div>
					</div>
				</a>

				<a href="/admin-posts">
					<div class="card">
						<div class="card_image">
							<img src="/images/admin/posts.svg" />
						</div>
						<div class="card_title title-black">
							<p>Posts</p>
						</div>
					</div>
				</a>
			</div>

			<p class="center">
				Illustrations by
				<a href="https://storyset.com/">Storyset</a>
			</p>
		</div>
	</div>
</div>
<%- include('../../components/footer') %>
