<!DOCTYPE html>
<html lang="en">
	<%- include('../../components/head') %>
	<body>
		<div id="layout">
			<%#
			<!-- Menu -->
			%> <%- include('../../components/menu') %> <%#
			<!-- Main container -->
			%>
			<div id="main">
				<%# Page header %>
				<div class="header">
					<h1><%= titles.docTitle %></h1>
					<h2><%= titles.docDescription %></h2>
				</div>

				<%# Page content %>
				<div class="content">
					<form id="config-form" class="pure-form pure-form-stacked" action="/admin-config" method="post">
						<fieldset>
							<legend>MODIFY THE CONFIGURATION</legend>
							<label for="site-title"><b>Site title* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">
								⚠️ Site title cannot be empty ! ⚠️
							</span>
							<input
								type="text"
								id="site-title"
								name="siteTitle"
								class="pure-input-1"
								value="<%= settings.siteTitle %>"
								placeholder="Type your site title here"
								required
							/>

							<label for="site-description"><b>Site description* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">
								⚠️ Site description cannot be empty ! ⚠️
							</span>
							<input
								type="text"
								id="site-description"
								name="siteDescription"
								class="pure-input-1"
								value="<%= settings.siteDescription %>"
								placeholder="Type your site description here"
								required
							/>

							<label for="site-url"><b>Site URL* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">
								⚠️ Site URL cannot be empty ! ⚠️
							</span>
							<input
								type="url"
								id="site-url"
								name="siteURL"
								class="pure-input-1"
								value="<%= settings.siteURL %>"
								placeholder="https://my-domaine-name.com"
								pattern="https://.*"
								required
							/>
							<span class="pure-form-message" style="display: none">
								⚠️ Site URL must start with https ! ⚠️
							</span>

							<label for="site-image-select">Site Blog image - Optional, better for design !</label>
							<select name="featuredImage" id="site-image-select">
								<option value="">Choose an image from the gallery</option>
								<% if (settings.featuredImage) { %>
								<option value="<%= settings.featuredImage %>" selected>
									<%= settings.featuredImage.split("/").pop() %>
								</option>
								<% let otherImages = images.filter(image => image !== settings.featuredImage) %><%#
								<!-- Display the other images from the gallery -->
								%> <% otherImages.forEach(image => { %> <%#
								<!-- Get the filename of each other image -->
								%> <% const otherImageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= otherImageName %></option>
								<% }) %> <%#
								<!-- If the post doesn't have a featuredImage -->
								%> <% } else { %> <%#
								<!-- Comment added for readability -->
								%> <% images.forEach(image => { %> <%#
								<!-- Get the filename of each image -->
								%> <% const imageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= imageName %></option>
								<% }) %> <% } %>
							</select>

							<label for="archive-image-select">Site Archive image - Optional, better for design !</label>
							<select name="archiveImage" id="archive-image-select">
								<option value="">Choose an image from the gallery</option>
								<% if (settings.archiveImage) { %>
								<option value="<%= settings.archiveImage %>" selected>
									<%= settings.archiveImage.split("/").pop() %>
								</option>
								<% let otherImages = images.filter(image => image !== settings.archiveImage) %><%#
								<!-- Display the other images from the gallery -->
								%> <% otherImages.forEach(image => { %> <%#
								<!-- Get the filename of each other image -->
								%> <% const otherImageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= otherImageName %></option>
								<% }) %> <%#
								<!-- If the post doesn't have an archiveImage -->
								%> <% } else { %> <%#
								<!-- Comment added for readability -->
								%> <% images.forEach(image => { %> <%#
								<!-- Get the filename of each image -->
								%> <% const imageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= imageName %></option>
								<% }) %> <% } %>
							</select>

							<label for="tags-image-select">Site Tags image - Optional, better for design !</label>
							<select name="tagsImage" id="tags-image-select">
								<option value="">Choose an image from the gallery</option>
								<% if (settings.tagsImage) { %>
								<option value="<%= settings.tagsImage %>" selected>
									<%= settings.tagsImage.split("/").pop() %>
								</option>
								<% let otherImages = images.filter(image => image !== settings.tagsImage) %><%#
								<!-- Display the other images from the gallery -->
								%> <% otherImages.forEach(image => { %> <%#
								<!-- Get the filename of each other image -->
								%> <% const otherImageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= otherImageName %></option>
								<% }) %> <%#
								<!-- If the post doesn't have a tagsImage -->
								%> <% } else { %> <%#
								<!-- Comment added for readability -->
								%> <% images.forEach(image => { %> <%#
								<!-- Get the filename of each image -->
								%> <% const imageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= imageName %></option>
								<% }) %> <% } %>
							</select>

							<label for="tag-image-select">Site Tag image - Optional, better for design !</label>
							<select name="tagImage" id="tag-image-select">
								<option value="">Choose an image from the gallery</option>
								<% if (settings.tagImage) { %>
								<option value="<%= settings.tagImage %>" selected>
									<%= settings.tagImage.split("/").pop() %>
								</option>
								<% let otherImages = images.filter(image => image !== settings.tagImage) %><%#
								<!-- Display the other images from the gallery -->
								%> <% otherImages.forEach(image => { %> <%#
								<!-- Get the filename of each other image -->
								%> <% const otherImageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= otherImageName %></option>
								<% }) %> <%#
								<!-- If the post doesn't have a tagImage -->
								%> <% } else { %> <%#
								<!-- Comment added for readability -->
								%> <% images.forEach(image => { %> <%#
								<!-- Get the filename of each image -->
								%> <% const imageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= imageName %></option>
								<% }) %> <% } %>
							</select>

							<label for="search-image-select">Site Search image - Optional, better for design !</label>
							<select name="searchImage" id="search-image-select">
								<option value="">Choose an image from the gallery</option>
								<% if (settings.searchImage) { %>
								<option value="<%= settings.searchImage %>" selected>
									<%= settings.searchImage.split("/").pop() %>
								</option>
								<% let otherImages = images.filter(image => image !== settings.searchImage) %><%#
								<!-- Display the other images from the gallery -->
								%> <% otherImages.forEach(image => { %> <%#
								<!-- Get the filename of each other image -->
								%> <% const otherImageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= otherImageName %></option>
								<% }) %> <%#
								<!-- If the post doesn't have a searchImage -->
								%> <% } else { %> <%#
								<!-- Comment added for readability -->
								%> <% images.forEach(image => { %> <%#
								<!-- Get the filename of each image -->
								%> <% const imageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= imageName %></option>
								<% }) %> <% } %>
							</select>

							<label for="posts-per-page"><b>Posts per page* - REQUIRED !</b></label>
							<input
								type="number"
								id="posts-per-page"
								name="postsPerPage"
								class="pure-input-1"
								value="<%= settings.postsPerPage %>"
								placeholder="Number of posts per page for the blog"
								min="1"
								max="10"
								required
							/>

							<label for="post-preview-fallback-image-select">
								<b>Post preview fallback image - REQUIRED !</b>
							</label>
							<span class="pure-form-message" style="display: none">
								⚠️ Please choose an image from the gallery ! ⚠️
							</span>
							<select name="postPreviewFallbackImage" id="post-preview-fallback-image-select" required>
								<option value="">Choose an image from the gallery</option>
								<option value="<%= settings.postPreviewFallbackImage %>" selected>
									<%= settings.postPreviewFallbackImage.split("/").pop() %>
								</option>
								<% let otherImages = images.filter(image => image !== settings.postPreviewFallbackImage)
								%><%#
								<!-- Display the other images from the gallery -->
								%> <% otherImages.forEach(image => { %> <%#
								<!-- Get the filename of each other image -->
								%> <% const otherImageName = image.split("/").pop() %>
								<option value="<%= image %>"><%= otherImageName %></option>
								<% }) %>
							</select>

							<label for="rss-site-language"><b>RSS site language* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">
								⚠️ RSS site language cannot be empty ! ⚠️
							</span>
							<input
								type="text"
								id="rss-site-language"
								name="rssSiteLanguage"
								class="pure-input-1-4"
								value="<%= settings.rssSiteLanguage %>"
								placeholder="en-US"
								required
							/>
							<span class="pure-form-message">
								<a href="https://www.rssboard.org/rss-language-codes">RSS language codes page</a>
							</span>

							<label for="rss-copyright"><b>RSS copyright* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">
								⚠️ RSS copyright cannot be empty ! ⚠️
							</span>
							<input
								type="text"
								id="rss-copyright"
								name="rssCopyright"
								class="pure-input-1"
								value="<%= settings.rssCopyright %>"
								placeholder="Copyright (c) 2022 - Present, LebCit under the MIT License"
								required
							/>

							<label for="search-feature"><b>Search feature* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">⚠️ Please choose an option ! ⚠️</span>
							<select id="search-feature" name="searchFeature" class="pure-u-1-2" required>
								<option value="">Please choose an option</option>
								<% const sF = JSON.stringify(settings.searchFeature) %>
								<option value="<%= settings.searchFeature %>" selected>
									<%= sF.charAt(0).toUpperCase() + sF.slice(1) %>
								</option>
								<% if (settings.searchFeature===true) { %>
								<option value="false">False</option>
								<% } else { %>
								<option value="true">True</option>
								<% } %>
							</select>

							<label for="ids-for-headings"><b>Ids for headings* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">⚠️ Please choose an option ! ⚠️</span>
							<select id="ids-for-headings" name="addIdsToHeadings" class="pure-input-1-2" required>
								<option value="">Please choose an option</option>
								<% const aItH = JSON.stringify(settings.addIdsToHeadings) %>
								<option value="<%= settings.addIdsToHeadings %>" selected>
									<%= aItH.charAt(0).toUpperCase() + aItH.slice(1) %>
								</option>
								<% if (settings.addIdsToHeadings===true) { %>
								<option value="false">False</option>
								<% } else { %>
								<option value="true">True</option>
								<% } %>
							</select>

							<%# Menu links %>
							<span id="menuLinks" hidden><%= JSON.stringify(settings.menuLinks) %></span>

							<h3>Menu links</h3>
							<div id="container"></div>

							<style>
								.link {
									border: black dashed;
									margin: 10px 0;
									padding: 10px;
								}
								.blue-background-class {
									background-color: #c8ebfb;
								}
							</style>
							<template id="template">
								<div class="link">
									<label for="link-target">Link target</label>
									<span class="pure-form-message" style="display: none">
										⚠️ Link target cannot be empty ! ⚠️
									</span>
									<input
										type="text"
										id="link-target"
										name="linkTarget"
										class="pure-input-1"
										placeholder="Target/destination of the link"
										required
									/>
									<label for="link-title">Link title</label>
									<span class="pure-form-message" style="display: none">
										⚠️ Link title cannot be empty ! ⚠️
									</span>
									<input
										type="text"
										id="link-title"
										name="linkTitle"
										class="pure-input-1"
										placeholder="Title of the link"
										required
									/>
									<button type="button" id="remove-link" class="pure-button">Remove this link</button>
								</div>
							</template>
							<button type="button" id="add-link" class="pure-button pure-checkbox pure-u-1-2">
								Add a link
							</button>
							<hr />

							<label for="footer-copyright"><b>Footer copyright* - REQUIRED !</b></label>
							<span class="pure-form-message" style="display: none">
								⚠️ Footer copyright cannot be empty ! ⚠️
							</span>
							<input
								type="text"
								id="footer-copyright"
								name="footerCopyright"
								class="pure-input-1"
								value="<%= settings.footerCopyright %>"
								placeholder="App built with ❤️ by <a href='https://lebcit.github.io/'>LebCit</a>"
								required
							/>
							<span class="pure-form-message">
								⚠️ IF YOU USE HTML IN THE FOOTER COPYRIGHT, ATTRIBUTES MUST BE SINGLE QUOTED ! ⚠️
							</span>

							<button id="submit-config-button" type="button" class="pure-button pure-button-primary">
								Submit
							</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<%- include('../../components/footer') %>
	</body>
</html>
