<!DOCTYPE html>
<html lang="en">
	<%- include('../../components/head') %>
	<body>
		<div id="layout">
			<%#
			<!-- Menu -->
			%> <%- include('../../components/menu') %> <%#
			<!-- Main container -->
			%>
			<div id="main">
				<%# Page header %>
				<div class="header">
					<h1><%= titles.docTitle %></h1>
					<h2><%= titles.docDescription %></h2>
				</div>

				<%# Page content %>
				<div class="content" style="max-width: 100%">
					<div class="pure-g">
						<div class="pure-u-1">
							<form action="/add-image" method="post" class="pure-form-stacked">
								<div class="pure-u-1">
									<label for="add-image">
										<b>Add up to 3 images at once. An image cannot exceed 3MB</b>
									</label>
									<input
										type="file"
										accept="image/*"
										multiple
										name="images"
										id="add-image"
										class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3"
										data-max-file-size="3MB"
										data-max-files="3"
										required
									/>
								</div>

								<button class="pure-button" type="submit">Add image(s) ✅</button>
							</form>
						</div>

						<% images.forEach(image => { %>
						<div class="pure-u-1 pure-u-md-1-4">
							<div style="padding: 1em">
								<style>
									.delete-button {
										position: absolute;
										color: white;
										border-radius: 4px;
										text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
										background: rgb(202, 60, 60);
									}
								</style>
								<button class="pure-button delete-button">&#10008; DELETE !</button>
								<img class="pure-img-responsive" src="<%= image %>" />
								<% const imageName = image.split("/").pop() %>
								<span><%= imageName %></span>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
		<%- include('../../components/footer') %>
		<script>
			// We want to preview images, so we need to register the Image Preview plugin
			FilePond.registerPlugin(
				// encodes the file as base64 data
				FilePondPluginFileEncode,

				// validates the type of the file
				FilePondPluginFileValidateType,

				// validates the size of the file
				FilePondPluginFileValidateSize,

				// corrects mobile image orientation
				FilePondPluginImageExifOrientation,

				// previews dropped images
				FilePondPluginImagePreview
			)

			// Select the file input and use create() to turn it into a pond
			FilePond.create(document.querySelector("input[type='file']"), {
				// Only accept images
				acceptedFileTypes: ["image/*"],
			})
			FilePond.setOptions({
				server: "/add-image",
			})

			const deleteButtons = document.querySelectorAll(".delete-button")
			deleteButtons.forEach((deleteButton) => {
				const imageName = deleteButton.nextElementSibling.nextElementSibling.textContent
				deleteButton.addEventListener("click", () => {
					Swal.fire({
						title: `Delete ${imageName} ?!`,
						html: `By clicking on <b>Delete</b>,
						<br />
						<b>${imageName}</b> will be deleted,
						<br />
						this is IRREVERSIBLE !
						<br />
						This file will be FOREVER LOST if you proceed !
						<form class="hidden" id="delete-image" action="/delete-image" method="post">
						<input type="text" name="imageName" id="image-name" value="${imageName}" />
						</form>`,
						icon: "warning",
						showCancelButton: true,
						confirmButtonText: "Delete",
						didOpen: () => {
							const deleteImage = document.getElementById("delete-image")
							const b = Swal.getConfirmButton()
							b.type = "button"
							b.addEventListener("click", () => {
								deleteImage.submit()
							})
						},
					})
				})
			})
		</script>
	</body>
</html>
