<!DOCTYPE html>
<html lang="en">
	<%- include('../../components/admin/head') %>
	<body class="theme-light">
		<div class="page">
			<%- include('../../components/admin/menu') %>

			<div class="page-wrapper">
				<%- include('../../components/admin/page-header') %>
				<div class="page-body">
					<div class="container-xl">
						<div class="row">
							<div class="col-12">
								<div class="card">
									<% if (locals.pagesTable) { %>
									<span id="pages-data" class="d-none"><%= JSON.stringify(pages) %></span>
									<% } else { %>
									<span id="posts-data" class="d-none"><%= JSON.stringify(posts) %></span>
									<% } %>

									<div id="admin-table"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('../../components/admin/footer') %>
			</div>
		</div>
		<%- include('../../components/admin/adminScripts') %>
	</body>
</html>
